;### Example 13 - Reserved characters.cfg ### 2023-01-09 16:23:58 ### utf-8 ###
;### This is a configuration file of a form configuration of the plugin FormFiller ###
;### ATTENTION: ADD NO LINES - DELETE NO LINES ###

desc = 'Example 13 - Reserved characters'
font = 'Arial'
style = ''
size = '10'
color = '0,0,0'
labels = ''
pdfid = ''
pdfform_orientation = ''
pdfform_size = ''
pdfform_unit = ''
relation = ''

[fields]
0 = 'vdummy'
1 = 'vdummy'
2 = 'vdummy'
3 = 'vdummy'
4 = 'vdummy'
5 = 'vdummy'

[positions]
0 = '10,20;V=Reserved characters;S=16'
1 = '10,30;V=The two characters !=! and !;! are reserved for entering the parameters, e.g. S!=!12!;!A!=!UI'
2 = '10,40;V=If they still have to be used in a text field, ! to mask.'
3 = '10,55;V=Example:;A=U'
4 = '10,65;V=In this text, the !=! character is replaced by ! enclosed.'
5 = '10,75;V=In this text the !;! represented as a semicolon.'

[usf_name_intern]
0 = ''
1 = ''
2 = ''
3 = ''
4 = ''
5 = ''

[usf_name]
0 = ''
1 = ''
2 = ''
3 = ''
4 = ''
5 = ''
